div.container
  h3 Send a Request
  p.
    If you have any concerns, inquiries or want to work with us, then drop us a request with the basic info below.
    We are looking forward hearing from you!
  form
    div.row
      div.input-field
        input#customer_name(type='text')
        label(for=customer_name) Your Name
    div.row
      div.input-field
        textarea#message.materialize-textarea
        label(for=message) Your Message
