div(style="color:#ddd; background-color: #135;")
  div.container(style="padding: 2rem 0;")
    div.row
      div.s12.m5
        h3(style="margin-top:0" data-aos="fade-up") Get in contact
        p.
          If you have an idea, information or just want to talk to us,
          just drop us a message with some basic info via the form nearby.
          We will then respond as soon as possible.
        img(src="/img/undraw_a_day_off_re_hedl.svg" style="width:50%")
        p.
          If you dont like forms, you can also connect with us via<br>
          <p><span style="display: inline-block; width: 100px;">E-Mail:</span> info [at] wuda . io</p>
          <p><span style="display: inline-block; width: 100px;">Telephone:</span> +43 664 37 69 013</p>
      div.m1
      div.s12.m6(style="margin-top:1rem")
        form.row(method='POST', action='/_request.php' style="gap:1rem;")
          div.input-field.s12
            input#customer_name(type='text' style="color: white;" name='request_sender_name' placeholder='Enter your first- and lastname')
            label(for=customer_name) Your Name
          div.input-field.s12
            input#customer_email(type='email' style="color: white;" name='request_sender_mail' placeholder='Enter your email address')
            label(for=customer_email) Your E-Mail
          div.input-field.s12
            textarea#message(name='request_message' style="height:200px; color: white; outline:none; line-height: 1.2;" placeholder='Enter your question, request or project description')
            label(for=message) Your Message
          div.right-align
            button.btn.blue#send-request Send Message