main(class='container')
  h1 Contact
  p Partners we are looking for are
  div.grid.grid-partners
    div
      h2 Customers
      p Please use the contact form to describe your needs, we will then contact you for a more detailed session.
    div
      h2 Sponsors &amp; Contributors
      p.
        If you want to develop and contribute to the products we are buildin upon,
        please check out one of our partner projects like Materialize.
    div
      h2 Employees
      p If you want to be part of Wuda Software, please send us your CV via mail. We will get back to you.
    div
      h2 Brokers
      p If you have an agency, we can connect and you can give us a request if you need support. We can then find a solution for your client togehter.
    div
      h2 Promoters
      p.
        We are glad if your share our posts and spread the word about our service and products.
        Please check out our social media profiles if you want to help us. Sharing is caring!
    div
      h2 Suppliers
      p If you have a product, service or other things, which you think would fit to our needs, please contact our team with a short description with your offer.
  p.
    If you want to become a partner, please do not hesitate to contact us through the contact form.