div.container.card.contact-form
  div
    h3 Send Request
    p.
      If you have any concerns, inquiries or want to work with us, then drop us a request with some basic info via the form nearby.
      We are looking forward hearing from you!
    p.
      You can contact us via e-mail or telephone:<br>
      E-Mail: info [at] wuda . io<br>
      Tel.: +43 664 37 69 013
  form
    div
      label(for=customer_name) Your Name
      input#customer_name.browser-default(type='text' placeholder='Enter your first- and lastname')
    div
      label(for=customer_email) Your E-Mail
      input#customer_email.browser-default(type='email' placeholder='Enter your email address')
    div
      label(for=message) Your Message
      textarea#message(placeholder='Enter your question, request or project description')
    div.right-align
      button#send-request Send Request