div.container
  h1 Contact
  p Partners we are looking for are
  div.row(style="gap: 1rem;")
    div.s12.m4
      p Customers
      p Please use the contact form to describe your needs, we will then contact you for a more detailed session.       
    div.s12.m4
      p Contributors, Employees
      p.
        If you want to be part of Wuda Software, please send us your CV via mail. We will get back to you.
        If you want to develop and contribute to the products we are buildin upon,
        please check out one of our partner projects like Materialize. We are glad if your share posts
        and spread the word about us or our projects. Please also check out our social media channels
        if you want to be part of our journey.
    div.s12.m4
      p Suppliers
      p.
        If you have a product, service or other things, which you think would fit to our needs,
        please contact our team with a short description with your offer.
  h2 Become a partner
  p.
    If you want to become a partner, please do not hesitate to contact us through the contact form.

div.container(style="padding: 2rem 0;")
  h3 Some of our Partners
  div.row(style="gap: 1rem;")
    div.s6.m2
      img.img-small(src='/img/customers/wellnesssolutions.svg')
    div.s6.m2
      img.img-small(src='/img/customers/bpmspace.png')
    div.s6.m2
      img.img-small(src='/img/customers/icocert.png')
    div.s6.m2
      img.img-small(src='/img/customers/bedesigned.png')
    div.s6.m2
      img.img-small(src='/img/customers/ioswitch.png')
    div.s6.m2
      img.img-small(src='/img/customers/bodnik.png')