footer
  div.container.row(style="gap: 1rem;")
    div.s12.m4
      h6 About
      p Wuda Software plans and develops software projects and database applications for the digital future.
    div.s12.m3
      h6 Legal Information
      div
        p
          a(href='/terms') Terms and conditions<br>
          a(href='/imprint') Imprint<br>
          a(href='/privacy') Privacy Policy<br>
    div.s12.m5
      h6 Stay in touch
      div.row(style="gap: 0.5rem;")
        p
          a(target='_blank' href='https://play.google.com/store/apps/dev?id=5210774711432599412') Google Play
        p
          a(target='_blank' href='https://github.com/wuda-software') GitHub
        p
          a(target='_blank' href='https://www.linkedin.com/in/daniel-wurzer-84047517b/') LinkedIn
        p
          a(target='_blank' href='https://www.youtube.com/user/56389578') YouTube
        p
          a(target='_blank' href='https://www.instagram.com/wuda.io/') Instagram
        p
          a(target='_blank' href='https://www.xing.com/profile/Daniel_Wurzer10') Xing
        p
          a(target='_blank' href='https://x.com/wuda_io') X

script(src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.2-alpha/dist/js/materialize.min.js")
script M.AutoInit();
script(src="/js/custom.js")