footer
  div.container.footer-grid
    div
      h6 About
      p Wuda Software plans and develops software projects and database applications for the digital future.
    div
      h6 Legal Information
      ul
        li
          a(href='terms.html') Terms and conditions
        li
          a(href='imprint.html') Imprint
        li
          a(href='privacy.html') Privacy Policy
    div
      h6 Stay in touch
      ul
        li
          a(target='_blank' href='https://play.google.com/store/apps/dev?id=5210774711432599412') Google Play
        li
          a(target='_blank' href='https://github.com/wuda-software') GitHub
        li
          a(target='_blank' href='https://www.linkedin.com/in/daniel-wurzer-84047517b/') LinkedIn
        li
          a(target='_blank' href='https://www.instagram.com/wuda.io/') Instagram
      ul
        li
          a(target='_blank' href='https://www.xing.com/profile/Daniel_Wurzer10') Xing
        li
          a(target='_blank' href='https://www.youtube.com/user/56389578') YouTube
        li
          a(target='_blank' href='https://twitter.com/wudablog') Twitter

script(src='js/materialize.min.js')
script M.AutoInit();