footer
  div.container.footer-grid
    div
      h6 About
      p Wuda Software entwickelt Webapplikationen &amp; Datenbanken-Anwendungen für die digitale Zukunft.
    div
      h6 Legal Information
      ul
        li
          a(href='agb.html') Allgemeine Geschäftsbedingungen
        li
          a(href='imprint.html') Imprint
        li
          a(href='data-privacy.html') Data-Privacy
    div
      h6 Stay in touch
      ul
        li
          a(href='') GitHub
        li
          a(href='') LinkedIn
        li
          a(href='') Instagram
        li
          a(href='') Xing
        li
          a(href='') YouTube
        li
          a(href='') Twitter