meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
meta(name="description" content="Individuelle webbasierte Applikationen für eine schnellere und effizientere Abarbeitung Ihrer Geschäftsprozesse. Starten Sie jetzt ein Projekt mit uns!")
link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
link(rel="apple-touch-icon" href="/img/WUDA-Apple-Touch-Icon.png")

meta(property="og:title" content="Innovative Software-Lösungen für mehr Freiheit | Wuda Software")
meta(property="og:description" content="Individuelle webbasierte Applikationen für eine schnellere und effizientere Abarbeitung Ihrer Geschäftsprozesse. Starten Sie jetzt ein Projekt mit uns!")
meta(property="og:type" content="Website")
meta(property="og:site_name" content="Wuda Software")

link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize/dist/css/materialize.min.css")
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
link(rel='stylesheet' href='/css/styles.css')
