main
  div.hero
    div.container
      h1 Organize your projects with a flexible, robust and scalabe system.
      p.
        Wuda Software's goal is to build robust software applications in a wide range of business areas.
        Since many companies in the offline world implement and practice similar processes, we have
        developed a flexible system that allows us to seamlessly connect to existing processes.
        Wuda Software digitizes processes and increases the competitiveness of your company.

  div.container
    h2 Why Wuda Software
    p.
      The greatest possible freedom is one thing, a clear direction is another. Our values used to be freedom,
      but with infinite possibilities you only have chaos and no clear structure. Without structure, however,
      you can't move forward with your business.
    p.
      Wuda Software helps you define your vision and goals and reduce them to single steps.
      This gives you the freedom to take one step at a time and move forward with a clear conscience.
    p.
      Our expertise is to digitally map steps and build software systems from them.
      We already have solutions for the most common problems in the form of software modules.
      We can then put together an individual solution for you from a variety of modules. 

  div.container
    div.grid.grid-benefits
      div
        h3 Your Benefits
        ul
          li Sophisticated data management
          li High user-friendliness
          li Ultra-fast processing speed
          li Maximum security and data protection
          li High flexibility and scalability
          li Competent consulting
      div
        img(src='img/undraw_real_time_analytics_re_yliv.svg')