main
  div.hero
    div.container
      h1 Organize your projects with a flexible, robust and scalabe system.
      p.
        Wuda Software hat sich zum Ziel gemacht, robuste Software-Anwendungen
        in den verschiedensten Geschäftsbereichen aufzubauen.
        Da viele Unternehmen in der Offline-Welt ähnliche Prozesse umsetzen und
        praktizieren, haben wir ein flexibles System entwickelt,
        mit dem wir nahtlos an bestehende Prozesse anknüpfen können.
        Wuda Software digitalisiert Abläufe und erhöht die Wettbewerbsfähigkeit
        ihres Unternehmens.
  div.container
    h2 Why Wuda Software
    p.
      Größtmögliche Freiheit ist das eine, eine klare Richtung das andere.
      Unsere Werte waren einst Freiheit, doch mit unendlichen Möglichkeiten haben Sie nur
      Chaos und keine klare Struktur. Ohne Struktur kommen Sie jedoch nicht voran mit ihrem
      Unternehmen.
    p.
      Wuda Software hilft Ihnen, ihre Vision und Ziele festzulegen und diese auf einzelne Schritte
      zu reduzieren. Dadurch haben Sie die Freiheit, einen Schritt nach dem anderen zu erledigen
      und mit gutem Gewissen voran zu kommen.
    p.
      Unsere Kompetenz ist es, Schritte digital abzubilden und Software-Systeme daraus zu bauen.
      Wir haben bereits für die gängisten Probleme Lösungen in Form von Software-Modulen.
      Aus einer Vielzahl von Modulen können wir dann eine individuelle Lösung für Sie zusammenstellen.
  div.container
    h3 Your Benefits
    ul
      li Ausgeklügelte Daten-Verwaltung
      li Hohe Benutzerfreundlichkeit
      li Ultraschnelle Verarbeitungs-Geschwindigkeit
      li Maximale Sicherheit und Datenschutz
      li Hohe Flexibilität und Skalierbarkeit
      li Kompetente Beratung