div#why.hero.fullheight
  div.container.row
    div.s12.m9
      h1(data-aos="fade-up") Connecting every Thing to grow your business.
      a.btn-large.blue(href='#how' data-aos="fade-up" data-aos-delay="300") See how

div#how.hero2.fullheight
  div.container.row(style="gap: 3rem;")
    div.s12.m6
      div.preview
        img(src="/img/projects/outlayer-apps.png" style="width:100%")
    div.s12.m6
      h2(data-aos="fade-up") We enable you to better grow your business while keeping high flexibility. With a modular Platform allowing you to manage your projects easily.
      //- p.
      //-   Wuda Software helps you define your vision and goals and reduce them to single steps.
      //-   This gives you the freedom to take one step at a time and move forward with a clear conscience.
      //-   Our expertise is to digitally map steps and build software systems from them.
      //-   We already have solutions for the most common problems in the form of software modules.
      //-   We can then put together an individual solution for you from a variety of modules.
      a.btn-large.blue(href='#what') See more


div#what.fullheight.black.white-text
  div.container
    h3(data-aos="fade-up") We create digital platforms, products and modules
    div.row(style="gap:2rem;")
      div.s12.m4
        p Platform (e.g. Physio System)
        p.
          This means we create multi-user systems for your community where users can register themselfs and order
          stuff by themself. You have a set of modules which help you to fulfill the orders of your customers and suppliers.
          The platform helps you to build a sustainable supply chain between your stakeholders.
      div.s12.m4
        p Product (e.g. CarTrade)
        p.
          If you only need to use modules internally and have no need to create different organizations or manage
          Roles and have multiple stakeholders involved in a product. If you decide to expand the product with more modules
          this is also no problem. 
      div.s12.m4
        p Module (Functions like create, read, update, delete)
        p.
          Modules are the building blocks of our systems. If you only need really basic features which only involves one
          module, we can develop a single module, which you can then use as a plugin on your website.

    h4 Latest Modules which we develop
    div.row.module-list(style="gap: 1rem; grid-auto-rows: 130px; padding: 1rem 0;" data-limit="4")
    div.row
      div.s6.m9
        a.btn.blue(href='#contact') Contact for offer
        a.btn-flat.blue-text(href='modules') See all offers
      div.s6.m3
        img(style="width:100%;" src='img/undraw_factory_dy-0-a.svg')
    