div.navbar-fixed
  nav
    div.nav-wrapper.container
      a.brand-logo(href="#") 
        img(src='img/wuda-logo.png')
      ul.right.hide-on-med-and-down
        li
          a(href='.') Home
        li
          a(href='services.html') Services
        li
          a(href='projects.html') Projects
        li
          a(href='contact.html') Contact us
        li
          a(href='#') Sign in