main.container
  h2(style='font-size: 1.8em; margin:0;') Our Partners
  div.grid.grid-partners
    div
      img.img-small(src='img/customers/wellnesssolutions.svg')
    div
      img.img-small(src='img/customers/bpmspace.png')
    div
      img.img-small(src='img/customers/icocert.png')
    div
      img.img-small(src='img/customers/bedesigned.png')
    div
      img.img-small(src='img/customers/ioswitch.png')
    div
      img.img-small(src='img/customers/bodnik.png')