main.container
  h2 Our Process (How we work)
  div.grid-process
    div
      h3 Request
      p Sie haben eine Idee oder wollen ein Projekt umsetzen? Gerne beraten wir Sie bei einem unverbindlichen Erstgespräch.
    div
      h3 Planning
      p Wir legen Rahmenbediungen und ihre Anforderungen fest und Sie erhalten von uns ein individuelles Angebot. Das Angebot umfasst bereits einen groben Etwurf Ihres fertigen Systems.
    div
      h3 Umsetzung
      p Sagt Ihnen die geplante Lösung zu, beauftragen Sie uns und das Projekt wird umgesetzt, während Sie sich wieder entspannt ihrem Kerngeschäft widmen können. Sie können das System iterationsweise Testen.
    div
      h3 Profit!
      p Wir liefern Ihnen die maßgeschneiderte Lösung und Sie profitieren ab sofort von ihrem eigenem ausgeklügelten und individuellen System. Bedarfsweise unterstützen wir Sie auch weiterhin mit Support.
