main.container
  h2 Process
  div.grid.grid-4
    div
      h3 Request & Talk
      p You have an idea, want to collaborate or start a project with us? Send us a request and we can talk in a free first appointment.
    div
      h3 Planning & Offer
      p If we find a base and have a rought concept of the outcome, we set the boundries and conditions for the project. Then we make a list of requirements and set specific tasks and project plan. Along with the plan we will send you a detailed offer and and a rought concept how the final outcome will lok like.
    div
      h3 Order & Procuce
      p If you agree with the plan and the offer, you accept the order and we will start with development. In iterative cycles the project will grow while you can focus on your core-competency.
    div
      h3 Deliver & Profit!
      p After finishing, we deliver your product and you can use it from there on. If you wish, we can support your system and provide you with the latest fixes and security updates.
