main.container
  h1 Projects
  p.
    Over the last couple years Wuda Software realized many projects of different sizes and disicplines.
    Here you can find some of our projects to see what we have done in the past. Maybe some day your project
    will also be listed here. To get a custom offer, drop us a request via the form at the end of the page.

  div.grid.grid-2
    div.card
      div.card-image
        img(src='img/terminkalender.png')
      div.card-content
        h2.card-title Physio Service System
        p.
          The healthcare sector is highly time-oriented, therefore it is important to have a robust and flexible scheduler.
          Together with our partner, we have developed a software application suitable for the healthcare sector, specifically physiotherapy.
          It can be used to manage multiple locations, appointments and therapists, as well as services.
          The physiotherapy software helps our partner to plan stress-free and patients to book their own appointments.
    div.card
      div.card-image
        img(src='https://cartrade.wuda.io/img/cartrade_dashboard.png')
      div.card-content
        h2.card-title Wuda CarTrade
        p.
          Simplifying trading and datamanagement of cars, vehicles, customers, suppliers, purchase contracts and transport lists.
          CarTrade saves you many hours of work and supports your decisions with sophisticated data analysis.
          It offers many features such as automatic NoVA calculation and financial block check.
          Thus, with CarTrade you always keep track of your vehicles and are many times ahead of other car dealers.
        div.section
        p
          b
            a(href='https://cartrade.wuda.io' target='_blank') Visit Project Website

  div.grid.grid-4
    div.card
      img.img-small(src='https://materializecss.github.io/materialize/res/materialize.svg')
      div.card-content
        h3 Materialize
        p Responsive front-end library by Google standards. Open source project, working with an internatinal team.
    div.card
      img.img-small(src='img/projects/sqms.png')
      div.card-content
        h3 Question Management System
        p Information System for a Institute of Service Management
    div.card
      img.img-small(src='img/projects/timeview.png')
      div.card-content
        h3 Appointment Booking Service
        p Online Tool, that enables Therapists to let their customers book an online slot for a sevrice.
    div.card
      img.img-small(src='https://raw.githubusercontent.com/wuda-io/link-visualizer/master/Example.PNG')
      div.card-content
        h3 Link Visualizer
        p Visualizes Links in the Internet as a Network.