main.container
  h1 Projects
  p.
    Over the last couple years Wuda Software realized many projects of different sizes and disicplines.
    Here you can find some of our projects to see what we have done in the past. Maybe some day your project
    will also be listed here. To get a custom offer, drop us a request via the form at the end of the page.

  div.row

    div.card.col.m6.s12
      div.card-image
        img(src='img/terminkalender.png')
      div.card-content
        div.card-title Physio Service System
        p.
          Der Gesundheitsbereich ist stark zeitorientiert, deswegen ist es wichtig, einen robusten und flexiblen
          Terminplaner zu haben. Wir haben gemeinsam mit unserem Partner eine Software-Anwendung,
          geeignet für den Gesundheitsbereich im Speziellen Physiotherapie, entwickelt. Damit lassen sich
          mehrere Standorte, Termine und Therapeuten sowie Leistungen verwalten. Die Physiotherapie-Software
          hilft unserem Partner stressfrei zu planen und Patienten, eigene Termine zu buchen.
      div.card-action
        a(href='#') Visit Project Website

    div.card.col.m6.s12
      div.card-image
        img(src='https://cartrade.wuda.io/img/cartrade_dashboard.png')
      div.card-content
        div.card-title Wuda CarTrade
        p.
          Wuda CarTrade vereinfacht den Autohandel und die Datenverwaltung von Fahrzeugen, Kunden, Lieferanten, Kaufverträgen
          und Transportlisten. CarTrade erspart Ihnen viele Arbeitsstunden und unterstützt Sie bei Ihren Entscheidungen durch
          ausgefeilte Datenanalyse. Es bietet viele Schnittstellen wie z.B. automatische NoVA-Berechnung und Überprüfung der
          Finanzsperre. Somit behalten Sie mit CarTrade stets den Überblick über Ihre Fahrzeuge und sind stets anderen
          KFZ-Händlern ein Vielfaches voraus.
      div.card-action
        a(href='https://cartrade.wuda.io' target='_blank') Visit Project Website
