main.container
  h1 Our Projects
  p.
    Over the last couple years Wuda Software realized many projects of different sizes and disicplines.
    Here you can find some of our projects to see what we have done in the past. Maybe some day your project
    will also be listed here. To get a custom offer, drop us a request via the form at the end of the page.

  div.row
    div.card.col.m6.s12
      div.card-image
        img(src='')
      div.card-content
        p This is a small description
      div.card-action
        a(href='#') Project Website

    div.card.col.m6.s12
      div.card-image
        img(src='')
      div.card-content
        p This is a small description
      div.card-action
        a(href='#') Project Website
        

