main.container
  h1 Our Services
  p.
    Over the last couple years Wuda Software realized many projects of different sizes and disicplines.
    Here you can find some of our projects to see what we have done in the past. Maybe some day your project
    will also be listed here. To get a custom offer, drop us a request via the form at the end of the page.

  h2 Semantic Networks - Die Zukunft des SEO
  p.
    Wir bilden ihr Unternehmen mit ihren Prozessen digital in einer Ontologie ab und beraten Sie bzgl. Abläufen
    und optimaler Auslastung. Dannach geben wir ihnen eine Liste von Modulen die Sie und Ihr Unternehmen benötigen.
    Mit diesem Werkzeug können Sie dann individuell und sicher arbeiten ohne jedes Mal ihre Infrastruktur kostenintensiv
    ändern zu müssen. Nebenbei erhalten Sie durch diese zukunftsweisende Technologie ein optimales SEO-Ergebnis und werden
    um ein vielfaches besser gefunden.

  h2 Künstliche Intelligenz
  p.
    Unsere Lösungen sind wissensbasierte Systeme, wesentliche Bereiche der künstlichen Intelligenz. Wuda Software unterstützt
    Ihr Unternehmen durch Digitalisierung ihres Geschäftsmodells und unbegrenzten Möglichkeiten an Schnittstellen.
    Mit unseren Lösungen bleibt Ihr Know-How bestens geschützt, Sie dokumentieren nebenbei und Ihre Projekte können
    Sie übersichtlicher managen.

  h2 Security und Datenschutz
  p.
    Systeme von Wuda Software werden laufend auf Schwachstellen geprüft und durch Spezialisten getestet. Wir sichern
    ihre Unabhängigkeit von Drittanbietern und gewährleisten größtmögliche Sicherheit bei ausgezeichneter Benutzerfreundlichkeit.
    Wuda Software arbeitet nach ISO27001-Standards und ist DSGVO-Konform. Jede Datenübertragung bei uns ist verschlüsselt
    und wird laufend auf dem neuesten Stand gehalten.
