main.container
  div.grid.grid-modules
    div
      img(src='img/undraw_building_blocks_re_5ahy.svg')
    div
      h2 Software Modules
      p.
        We develop everything with scalability in mind. So our Applications are split into small software modules,
        which can be combined into a custom product. With our tools you can build your own custom software for your needs.
        You can find all our software modules we developed. This modules can be integrated into a custom application for your needs.
  //- div
  //-   div
  //-     h2 Task Manager
  //-     p Create, Read, Update and Delete Tasks. Also add a Duration and Attachements to a Task.
  //-   div
  //-     h2 File Upload
  //-     p Upload Files and link them to different things like an Event or a Product.