doctype html
html
  head
    title Modules - Wuda Software
    include ../includes/head    
  body
    include ../includes/nav

    div.container
      div.row
        div.s12.m4
          img(src='/img/undraw_building_blocks_re_5ahy.svg' style="width:100%;")
        div.s12.m8
          h1 Software Modules
          p.
            We develop everything with scalability in mind. So our Applications are split into small software modules,
            which can be combined into a custom product. With our tools you can build your own custom software for your needs.
            You can find all our software modules we developed. This modules can be integrated into a custom application for your needs.
      p.
        TODO: Load the modules from Github as JSON and display the info here. Sort by last updated and most used etc.
        Also impement Screenshots and Videos of each module. Make a sub-page for every module.

    div.container(style="margin-top:1rem;")
      include ../includes/ad1.html

    div.container
      h2 Modules
      p.
        Our Goal is to create Modules and combine them into a custom Platform or Product for your needs.
        If you need standard functions and features already offered by our modules, we can easily create you
        a custom tailored software. Of course we can change your System dynamically by changing your configuration
        of modules. This helps us beeing flexible and faster, and you beeing more stable and responsive in
        your business needs. Please contact our team for more information.
      
      div.row.module-list(style="gap: 1rem; grid-auto-rows: 130px;")
      
      p
        b Need something more custom?
      p.
        No problem, Modules can be extended and combined in every possible way. Just drop a Message with your Idea,
        and we calculate the development costs for you. If you/we find more users who want this the costs are lowered.
        Also, you can develop your own modules with your programmers if you want. We also can talk about this possibility. 

    div.container(style="margin-top:1rem;")
      include ../includes/ad1.html

    div.container
      h2 Projects related with our modules
      p.
        Over the last couple years Wuda Software realized many projects of different sizes and disicplines.
        Here you can find some of our projects to see what we have done in the past. Maybe some day your project
        will also be listed here. To get a custom offer, drop us a request via the form at the end of the page.

      div.row(style="gap:1rem;")
        div.s12.m4.card
          div.card-image
            img(style="width: 100%; height:200px; object-fit:cover;" src='https://cartrade.wuda.io/img/cartrade_dashboard.png')
          div.card-content
            h2.card-title(style="margin:0;") Wuda CarTrade
            p.
              Simplifying trading and datamanagement of cars, vehicles, customers, suppliers, purchase contracts and transport lists.
              CarTrade saves you many hours of work and supports your decisions with sophisticated data analysis.
              It offers many features such as automatic NoVA calculation and financial block check.
              Thus, with CarTrade you always keep track of your vehicles and are many times ahead of other car dealers.
            br
            a(href='https://cartrade.wuda.io' target='_blank') Visit Website

        div.s12.m4.card
          div.card-image
            img(style="width: 100%; height:200px; object-fit:cover;" src='/img/terminkalender.png')
          div.card-content
            h2.card-title(style="margin:0;") Physio Service System
            p.
              The healthcare sector is highly time-oriented, therefore it is important to have a robust and flexible scheduler.
              Together with our partner, we have developed a software application suitable for the healthcare sector, specifically physiotherapy.
              It can be used to manage multiple locations, appointments and therapists, as well as services.
              The physiotherapy software helps our partner to plan stress-free and patients to book their own appointments.
            br
            a(href='https://termin-buchen-behandlung.com/' target='_blank') Visit Website


        div.s12.m4.card
          div.card-image
            img(style="width: 100%; height:200px; object-fit:cover;" src='/img/projects/materialize.png')
          div.card-content
            h2.card-title(style="margin:0;") Materialize Web Design Framework
            p.
              Responsive front-end Framework by Google standards. Open source project, working with an internatinal team.
              Used by many companies worldwide, providing ready to use, clean components supporting building of web products
              in a much faster and standardized way.
            br
            a(href='https://materializecss.github.io/materialize/' target='_blank') Visit Website
    
    div.container(style="margin-top:1rem;")
      include ../includes/ad1.html

    div.container
      h3 Other Projects
      p This Projects do not use modular design yet.
      div.row(style="gap:1rem;")
        div.s12.m4.card
          div.card-image
            img(style="width: 100%; height:200px; object-fit:cover;" src='/img/projects/candyclick.jpg')
          div.card-content
            p.card-title(style="margin:0; font-size: 1.25rem; font-weight: bold;")  CandyClick Game
            p Master the amazing match 3 puzzle game. This game is suitable for the whole family.
            br
            a(href='https://play.google.com/store/apps/details?id=io.wuda.candyclick' target='_blank') Visit PlayStore

        div.s12.m4.card
          img(style="width: 100%; height:200px; object-fit:cover;" src='/img/projects/bodnikbows.png')
          div.card-content
            p.card-title(style="margin:0; font-size: 1.25rem; font-weight: bold;") Bow Sales Configurator
            p Get the best fitting Bow and Arrows for your needs, based on physical abilities.

        div.s12.m4.card
          img(style="width: 100%; height:200px; object-fit:cover;" src='/img/projects/sqms.png')
          div.card-content
            p.card-title(style="margin:0; font-size: 1.25rem; font-weight: bold;") Syllabus Management System
            p Manage Syllabi and Questions for generating randomized Tests for studends in an Educational IT Organization.

    div.container.services(style="padding: 3rem 0;")
      h4 Additional Services we offer
      div.row(style="gap: 1rem;")
        div.s6.m3
          h5 Project Management
          ul
            li Requirements Engineering
            li Concepting, System-Engineering
            li Time Planning and Scheduling
            li Goal Management
            li Incremental Progress
        div.s6.m3
          h5 Programming &amp; Design
          ul
            li Architecture and Ontology Modelling
            li Database and Data Persistance
            li APIs, Client- and Server Connections
            li Continuous Development, Testing and Integration 
            li UI, Logo &amp; Vector Design
        div.s6.m3
          h5 Marketing &amp; SEO
          ul
            li Planning of CI
            li Google Ad Kampains &amp; Keywords
            li Social Media Postings
            li Improvment Plan
            li Target Audience Optimization
        div.s6.m3
          h5 Security
          ul
            li Risk and Dependency Analysis
            li Risk Minimization Plan
            li Security Measurements
            li Penetration Tests
            li Updates and Security Fixes

    include ../includes/contact-form
    include ../includes/footer
