@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*
:root {
  --background-color: #121212;
  --surface-color: #8883;
}
  */

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.btn {
  white-space: nowrap;
}

/*
nav {
  background: transparent;
}
*/
nav .brand-logo {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  gap: 0.5rem;
}
nav .brand-logo > img {
  height: 75%;
}
/*
.container {
  width: 75%;
  margin: 0 auto;
}
*/
.fullheight {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 15vh;
}

.hero {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('../img/bg.jpg') #333;
  background-size: cover;
}
.hero p {
  font-size: 1.3em;
  opacity: 0.8;
}

.hero2 {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.92)), url('../img/blockchain-7566579_1920.jpg') #333;
  background-size: cover;
  overflow: hidden;
}
.hero2 h2 {
  font-size: 2rem;
}
.preview {
  perspective-origin: left center;
  perspective: 1500px;
  transform-style: preserve-3d;
}
.preview img {
  transform: rotateY(-35deg) rotateX(15deg) scale(1);
  transition: all 0.5s;
  width: 75%;
}

.services {
  font-size: 0.85rem;
}
.services h5 {
  font-size: 1.2rem;
}
.services ul {
  padding: 0;
  list-style: none;
}
.services ul li {
  margin-bottom: 0.5rem;
}

img.img-small {
  width: 100%;
  object-fit: contain;
  height: 50px;
  filter: grayscale(1);
}

footer {
  margin-top: auto;
  background-color: #111e29;
  color: white;
  padding: 1.5em 0;
}

@media only screen and (max-width: 992px) {
  /*---> Tablet */
}
@media only screen and (max-width: 600px) {
  /*---> Smartphone */
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  .fullheight {
    padding-top: 9vh;
  }
  .container {
    width: 90%;
  }
  .preview img {
    width: 100%;
  }
}

/* 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #25335b;
} */

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.container2 {
  position: relative;
  top: 80px;
  left: 80px;
  transform: skewY(-20deg) scale(0.55);
  animation: animate 5s linear infinite;
}
.container2 .cube {
  position: relative;
  z-index: 2;
}
.container2 .cube:nth-child(2) {
  z-index: 1;
  translate: -60px -60px;
}
.container2 .cube:nth-child(3) {
  z-index: 3;
  translate: 60px 60px;
}
.container2 .cube div {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  translate: calc(-70px * var(--x)) calc(-60px * var(--y));
}
.container2 .cube div span {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  /* background: #dcdcdc; */
  z-index: calc(1 * var(--i));
  transition: 1.5s;
}

.container2 .cube div span.active,
.container2 .cube div span:hover {
  transition: 0s;
  background: #ef4149;
  filter: drop-shadow(0 0 30px #ef4149);
}
.container2 .cube div span.active::before,
.container2 .cube div span.active::after,
.container2 .cube div span:hover:before,
.container2 .cube div span:hover:after {
  transition: 0s;
  background: #ef4149;
}

.container2 .cube div span:before {
  content: '';
  position: absolute;
  left: -40px;
  width: 40px;
  height: 100%;
  /* background: #fff; */
  transform-origin: right;
  transform: skewY(45deg);
  transition: 1.5s;
}
.container2 .cube div span:after {
  content: '';
  position: absolute;
  top: -40px;
  left: 0px;
  width: 100%;
  height: 40px;
  /* background: #f2f2f2; */
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 1.5s;
}
