doctype html
html
  head
    title Wuda Software
    link(rel='stylesheet' href='css/materialize.min.css')
    link(rel='stylesheet' href='css/styles.css')
  body
    include ../includes/nav
    include ../includes/contact-form
    include ../includes/partners
    include ../includes/contact
    include ../includes/footer