doctype html
html
  head
    title Contact - Wuda Software
    include ../includes/head
  body
    include ../includes/nav
    include ../includes/contact
    
    p If you have any questions or inquiries please do not hesitate contacting us.

    include ../includes/partners

    include ../includes/contact-form
    include ../includes/footer