doctype html
html
  head
    title Contact - Wuda Software
    include ../includes/head
  body
    include ../includes/nav
    include ../includes/contact-form
    include ../includes/partners
    include ../includes/contact
    include ../includes/footer