doctype html
html
  head
    title Wuda Software
    link(rel='stylesheet' href='css/materialize.min.css')
    link(rel='stylesheet' href='css/styles.css')
  body
    include ../includes/nav

    main.container
      h1 Imprint
      p.
        Over the last couple years Wuda Software realized many projects of different sizes and disicplines.
        Here you can find some of our projects to see what we have done in the past. Maybe some day your project
        will also be listed here. To get a custom offer, drop us a request via the form at the end of the page.

    include ../includes/footer