doctype html
html
  head
    title Wuda Software
    include ../includes/head
  body
    include ../includes/nav

    include ../includes/main

    div#contact.fullheight(style="background-color: #135;")
      include ../includes/contact-form
      include ../includes/footer