doctype html
html
  head
    title Wuda Software
    include ../includes/head
  body
    include ../includes/nav
    include ../includes/home
    include ../includes/contact-form
    include ../includes/footer