doctype html
html
  head
    title Projects - Wuda Software
    include ../includes/head
  body
    include ../includes/nav
    include ../includes/projects
    include ../includes/contact-form
    include ../includes/footer