doctype html
html
  head
    title Projects - Wuda Software
    link(rel='stylesheet' href='css/materialize.min.css')
    link(rel='stylesheet' href='css/styles.css')
    script(src='js/materialize.min.js')
  body
    include ../includes/nav
    include ../includes/projects
    include ../includes/contact-form
    include ../includes/footer