doctype html
html
  head
    title Roadmap - Wuda Software
    include ../includes/head
  body
    include ../includes/nav

    main.container.roadmap
      h1 Über Wuda Software
      p Unsere Vision von Innovation und Nachhaltigkeit wird durch die Herstellung benutzerfreundlicher, sicherer und skalierbarer Software-Lösungen für kleinere und mittlere Unternehmen erreicht. Mehr Freiheit wird durch strukturierte und zeitsparende Arbeitsabläufe geschaffen.
      
      h2 Team
      div.row
        div.col.s2.avatar
          img.responsive-img.circle.z-depth-2(src='img/danielwurzer.jpg')
          div
            b Daniel Wurzer            
          span Geschäftsführer
        div.col.s2.avatar
          img.responsive-img.circle.z-depth-2(src='img/melissareim.jpg')
          div
            b Melissa Reim
          span Marketing und Sales

      h3 In Zahlen
      p Existiert Tage, Umsatz erwirtschaftet, Kontakte, Mails gesendet, Projekte

      h3 Roadmap
        h4 2017
        p.
          Im August 2017 wurde Wuda Software von Daniel Wurzer gegründet und gearbeitete Stunden mit BPMspace verrechnet.
          Es wurde ein Projekt als Abschlussarbeit mit der Hochschule München mit dem Namen SQMS (Syllabus Question Management System) ausgearbeitet.
          Damit war es möglich Lehrpläne, Fragen und Antworten in einem Datenbank-System zu hinterlegen und auszugeben.
        
        h4 2018
        p.
          Viele Stunden an Dienstleistungen wurden für BPMspace und mITSM aufgewendet. Am Projekt SQMS wurde weiter gearbeitet. Die Entwicklung von LIAM wurde gestartet.
        
        h4 2019
        p Mit der Entwicklung des Produktes "Wuda CarTrade" wurde begonnen. Gemeinsam mit Andreas Rieger wurde die Entwicklung gestartet. Parallel zum Verkauf von Service wurde erstmals ein Produkt an das Autohaus Rieger verkauft. Ende 2019 wurde SmartSportSystems, ein Projekt mit Thomas Klaushofer und Franz Ebner ins Leben gerufen.

        h4 2020
        p.
          Der Corona-Virus erschüttert die Welt. Der erste Lockdown kommt im März. Die Zusammenarbeit mit BPMspace wird umgehend beendet. Das Projekt APMS wird von Wuda Software übernommen und in Wuda-App Generator umbenannt. Das Frontend wird sofort auf MaterializeCSS umgestellt. Ein neuer Kunde (Henry Bodnik) wurde von Slava Kranewitter weiterempfohlen. Gemeinsam mit Henry wurden zwei kleinere Produkte names "Spine Calculator" und "Arrow Calculator" entwickelt.
          Eine Förderung für die Büromiete wurde im August beim Magistrat Salzburg beantragt und genehmigt. Der Businessplan dazu beinhaltete das Produkt Wuda CarTrade.
          Weiterentwicklung von Wuda CarTrade. Abschließen der Arbeiten an Datenbank-Struktur sowie am Backend und API. Frontend wurde im Dezember fertig gestellt. Die ersten Förderungsgelder sind eingetroffen.
        
        h4 2021
        p.
          Wuda CarTrade wird als SaaS Lösung an freie Autohändler vertrieben. Angestrebt werden 100 Kunden innerhalb des Jahres. Dieses Ziel wurde leider nicht erreicht, aber es wurde auch wenig in Marketing investiert und dafür der volle Fokus auf die Produktentwicklung gelegt. Es haben sich jedoch ein paar potentielle Kunden telefonisch gemeldet und dafür interessiert, jedoch mussten diese abgewimmelt werden.
          Gegen Herbst wurde dann ein neues Projekt (PPS) gemeinsam mit Wellness-Solutions gestartet. Physio Service System dieser Kunde wurde ebenfalls von Slava (bedesingd) weiter empfohlen. Parallel dazu wurde in dem open-source Projekt MaterializeCSS mitentwickelt, das ebenfalls für alle Projekte von WudaSW verwendet wird.
        
        h4 2022
        p.
          Gemeinsam mit unserem Partner Wellness-Solutions haben wir ein Physio-Service-System entwicklt. Dieses System ist Mandantenfähig und kann mehrere Räume/Geschäfte andlegen und verwalten. PPS läuft auf den Servern von WudaSW und bringt bereits einen wiederkehrenden Cashflow ein. Dieser ist jedoch zu gering um die laufenden Kosten zu decken, hat jedoch maßgeblich zur Verbesserung der internen Prozesse von Wuda beigetragen. Es ist vorgesehen, dass CarTrade und PSS auf der gleichen Basis aufbauen und "nur" Konfigurationsdateien getauscht werden müssen, die Module und Prozesse beinhalten und auf Basis dessen Neue Projekte schneller und einfacher umgesetzt werden können.
          In Planung is der Start von OpenCollective und der Ausbau an der Entwicklung von MaterializeCSS in einer neuen Version. Zusätzlich sollten weitere Projekte parallel gestartet werden (CarTrade muss unbedingt auf den neuesten Stand gebracht werden) 
        p 31.7.2022 Auszug aus Büro in Itzling
        p September 2022: CandyClick (Start: September 2022 - Dezember, Neue Technologien gelernt: PixiJS, PlayStore, AdMob, NodeJS, ContinousDelivery Pipeline)
        p 18.11.2022 Sophia Geburt 🎉

        h4 2023
        p.
          Geplanter Umzug in die Türkei für ein Jahr. Am 1. Mai 2023 geht es los.

        h4 2024
        p.
          Geplanter Umzug in die Türkei für ein Jahr. 1.5.2024 Geplante Heimkehr zurück nach Österreich.

    include ../includes/footer