doctype html
html
  head
    title Services - Wuda Software
    include ../includes/head
  body
    include ../includes/nav
    include ../includes/services
    include ../includes/software-modules
    include ../includes/process-project
    include ../includes/contact-form
    include ../includes/footer