doctype html
html
  head
    title Terms and Conditions - Wuda Software
    link(rel='stylesheet' href='css/materialize.min.css')
    link(rel='stylesheet' href='css/styles.css')
    script(src='js/materialize.min.js')
  body
    include ../includes/nav

    main.container.terms
      h1 Terms and Conditions / Allgemeine Geschäftsbedingungen
      div        
        p WUDA e.U.
        p Ing. Daniel Wurzer · Hochfeldweg 4 · 5322 Hof bei Salzburg · Österreich
        p in der Fassung vom April 2019
      div
        h2 §1 Geltungsbereich
        p 1.1 Diese allgemeinen Geschäftsbedingungen der Firma WUDA e.U. (im Folgenden WUDA genannt) gelten für alle Rechtsgeschäfte, d.h. für alle Leistungen, die WUDA gegenüber dem Vertragspartner erbringt.
        p 1.2 Sie gelten auch für die zukünftigen Geschäfts- und Zusatzvereinbarungen, selbst wenn nicht ausdrücklich darauf Bezug genommen wurde.
        p 1.3 Allgemeine Geschäftsbedingungen des Vertragspartners werden ausdrücklich nicht Vertragsinhalt, auch wenn ihnen seitens WUDA nicht ausdrücklich widersprochen wird.
        p 1.4 Maßgeblich ist jeweils die zum Zeitpunkt des Vertragsabschlusses gültige Fassung der gegenständlichen Bedingungen.
        p 1.5 Abänderungen bedürfen zu Ihrer Gültigkeit der ausdrücklichen schriftlichen Bestätigung durch WUDA und gelten nur für den jeweiligen einzelnen Geschäftsfall.
        p 1.6 Falls einzelne Bestimmungen des Vertrages oder dieser Bestimmungen unwirksam sein sollten, wird die Wirksamkeit der übrigen Bestimmungen nicht berührt. Die unwirksame Bestimmung ist durch eine gültige, die dem angestrebten Sinn und wirtschaftlichen Zweck möglichst nahekommt, zu ersetzen.
        
        h2 §2 Bedingungen zur Leistungserbringung
        p 2.1 Die notwendigen Vorbereitungen sowie die dazu erforderlichen Leistungserbringungen erfolgen auf Rechnung und Gefahr des Vertragspartners.
        p 2.2 Die Erbringung von Teilleistungen ist entsprechend dem konkreten Angebot möglich.
        p 2.3 WUDA ist bestrebt, die vereinbarten Fristen zur Erfüllung der Leistung möglichst genau einzuhalten. Sofern unvorhersehbare oder vom Parteiwillen unabhängige Umstände, wie beispielsweise alle Fälle höherer Gewalt eintreten, die die Einhaltung der vereinbarten Frist zur Lieferung bzw. Leistungserbringung behindern, verlängert sich diese jedenfalls um die Dauer dieser Umstände. Diese Umstände berechtigen auch dann zur Fristverlängerung, wenn sie bei Subunternehmen eintreten.
        
        h2 §3 Kostenvoranschlag
        p 3.1 Kostenvoranschläge sind generell unentgeltlich.
        p 3.2 Der Kostenvoranschlag wird nach bestem Fachwissen erstellt und gibt Auskunft über das zu erwartende Projektvolumen und dessen Kosten. Die tatsächlichen Kosten können von dem im Kostenvoranschlag angeführten Betrag abweichen.
        p 3.3 Mit der Unterzeichnung des Kostenvoranschlags erteilt der Vertragspartner den Auftrag für Leistungen im angeführten Ausmaß.
        
        h2 §4 Angebot
        p 4.1 Angebote sind grundsätzlich entgeltlich und werden auf Basis einer Detailspezifikation erstellt. Wenn aufgrund dieses Angebots innerhalb der Gültigkeitsdauer kein Auftrag erteilt wird, werden die Kosten für die Detailspezifikation und Angebotslegung verrechnet.
        p 4.2 Unsere Angebote sind freibleibend.
        p 4.3 Die Bestellungen des Vertragspartners sind das eigentliche Angebot im Rechtssinn. Erst durch schriftlich versandte Auftragsbestätigung durch WUDA kommt der Vertrag zustande. WUDA ist berechtigt, Bestellungen bzw. Aufträge auch nur zum Teil anzunehmen oder ohne Angabe von Gründen abzulehnen.
        p 4.4 WUDA behält sich das Recht vor, Dokumente im Original und auf schriftlichem Weg, d.h. durch ausschließlichen Versand per Post, vom Vertragspartner zu verlangen.
        
        h2 §5 Honorar &amp; Preise
        p 5.1 Sofern im Auftrag nicht anders vereinbart, gelten die im Angebot in Euro angeführten Preise, welche falls nicht explizit angegeben, keine Umsatzsteuer enthalten.
        p 5.2 Bei einer vom Gesamtangebot abweichenden Bestellung behält sich WUDA eine entsprechende Preisänderung vor.
        p 5.3 Die Preise basieren wie o.a. auf den Kosten zum Zeitpunkt des erstmaligen Preisangebots. Sollten sich die Kosten aufgrund geänderter Anforderungen oder Rahmenbedingungen bis zum Zeitpunkt der Leistungserbringung bzw. innerhalb der Projektabwicklung erhöhen, so ist WUDA berechtigt, die Preise entsprechend anzupassen. Der Vertragspartner wird hiervon jedoch vorab informiert.
        p 5.4 Begutachtung und die Erstellung von Angeboten werden dem Vertragspartner nach tatsächlichem Aufwand in Rechnung gestellt.
        p 5.5 Reisezeit wird grundsätzlich als Arbeitszeit verrechnet. Kosten für Unterkunft, Verpflegung und andere Reisekosten werden dabei separat ausgewiesen und sind nicht Teil der Kosten für die Reisezeit.
        p 5.6 Sofern für angebotene Dienstleistungen im Bereich der Softwareentwicklung eine Lieferung von Quelltexten (Sourcecode, Libraries, o.Ä.) vom Vertragspartner gewünscht bzw. verlangt wird, kommt ein Aufschlag von 100% auf die Nettokosten jeglicher Dienstleistung zur Verrechnung. Dies gilt insbesondere auch für den Fall, dass die Lieferung des Quelltextes und/oder der genannte Aufschlag nicht explizit im Angebot angeführt sind.
        
        h2 §6 Projektmanagement
        p 6.1 Alle Projekte werden von WUDA agil abgewickelt.
        p 6.2 Der Vertragspartner ist im agilen Projektmanagement intensiv in der Planungs- und Qualitätssicherungsphase involviert. Das agile Projektmanagement nach den Vorgaben von WUDA gilt daher als Vertragsgegenstand jeder Zusammenarbeit.
        p 6.3 Das Projekt wird iterativ, in zweiwöchigen Zyklen bearbeitet.
        
        h2 §7 Projektdauer
        p 7.1 Das Projekt beginnt mit dem Datum des Versandes der Auftragsbestätigung durch WUDA.
        p 7.2 Zusätzliche Leistungen oder Änderungen eines bestehenden Auftrags bedürfen immer der Schriftform und einer separaten Auftragsbestätigung durch WUDA. Einer dadurch verlängerten Projektdauer stimmt der Kunde bei Änderungen implizit zu.
        p 7.3 Der Vertragspartner erklärt sich damit einverstanden, die Überschreitung des einvernehmlich geplanten Enddatums um 25% der Projektdauer zu akzeptieren. Dies wird, sobald und sofern ersichtlich, dem Vertragspartner umgehend mitgeteilt. Dabei entstehen seitens des Vertragspartners keine Mehrkosten durch WUDA.
        p 7.4 WUDA wird dabei grundsätzlich schad- und klaglos gehalten.
        
        h2 §8 Projektabschluss
        p 8.1 Ein Projekt gilt als abgeschlossen, wenn WUDA alle mit dem Vertragspartner zur Erfüllung des Auftrags schriftlich definierten Tätigkeiten mängelfrei durchgeführt und geliefert hat.
        p 8.2 Die Verifikation der mängelfreien Lieferung wird über einen User Acceptance Test bzw. Akzeptanztest, kurz UAT, vom Vertragspartner sichergestellt. WUDA gewährt dem Vertragspartner nach jeder Teillieferung, nach Abschluss einer Iteration, sowie nach Abschluss aller spezifizierten Tätigkeiten zur Erfüllung des Auftrages einen Zeitrahmen von fünf Werktagen für den UAT.
        p 8.3 Der UAT wird vom Vertragspartner direkt nach jeder Lieferung durchgeführt.
        p 8.4 Nach Ablauf des UAT hat der Vertragspartner eine Frist von weiteren fünf Werktagen, um WUDA eine Liste mit Mängeln zu schicken. Die Mängelliste bedarf der Schriftform und ist unterfertigt per Post oder E-Mail an WUDA zu senden. Es wird dabei eine firmenmäßige Zeichnung des Vertragspartners verlangt.
        p 8.5 Sollte nach Ablauf der 10 Werktage nach Lieferung keine unterfertigte Mängelliste bei WUDA eingelangt sein, gilt die Lieferung bzw. der Auftrag als erfüllt und abgenommen.
        p 8.6 Der Vertragspartner hat die Möglichkeit den Auftrag vor Ablauf der oben genannten Frist als abgenommen zu akzeptieren. Die vorzeitige Abnahme des Auftrags bedarf allerdings wiederum der Schriftform.
        
        h2 §9 Inhalte und Optimierung
        p 9.1 Der Vertragspartner garantiert hinsichtlich des Urheberrechts, dass alle Textelemente, Grafiken, Fotos, Designs, Urheberrechte oder sonstige Kunstwerke, die zur Verfügung gestellt werden, das Eigentum des Vertragspartners sind oder dass der Vertragspartner diese verwenden darf.
        p 9.2 Der Vertragspartner stimmt hinsichtlich der Browseroptimierung von Webinhalten zu, dass diese explizit nur für folgende Desktop-Browser optimiert werden: Mozilla Firefox in der zum Zeitpunkt der Vertragsunterzeichnung aktuellsten Version; Google Chrome in der zum Zeitpunkt der Vertragsunterzeichnung aktuellsten Version.
        p 9.3 Der Vertragspartner stimmt hinsichtlich der mobilen Apps zu, dass diese, wenn nicht anders vereinbart, auf die aktuellste Version der zum Zeitpunkt des Vertragsabschlusses öffentlich verfügbaren Betriebssystemversionen entwickelt und optimiert wird.
        p 9.4 Der Vertragspartner nimmt zur Kenntnis, dass es grundsätzlich nur mit einem erheblichen Zusatzaufwand möglich ist, andere Browser oder Browser mit einer geringeren Versionsnummer als in 9.2 angeführt, zu unterstützen. Dazu gehören insbesondere auch Browser für mobile Endgeräte wie iPhone und iPad, sowie Smartphones und Tablets. Die anfallenden Mehrkosten für die Optimierung zur Anpassung an diese Geräte, sind nicht implizit Teil unserer Angebote.
        p 9.5 Benötigte und nicht beauftrage Ressourcen werden vom Vertragspartner zur Verfügung gestellt oder getrennt beauftragt. Dies umfasst nicht ausschließlich, jedoch insbesondere: Zugangsdaten zu bestehenden Hostings, Datenbanken oder Webservices; Lokalisierte Texte und Beschreibungen sowie lokalisierte Grafiken oder Logos.
        p 9.6 Für die Entwicklung von Android Anwendungen wird zur Qualitätssicherung ein gängiges Endgerät herangezogen. Dieses wird zu Projektstart definiert. Optional kann der Kunde explizit Testgeräte definieren, sofern sie vom Kunden zum Projektstart zur Verfügung gestellt werden.
        
        h2 §10 Zahlungsbedingungen
        p 10.1 Zahlungen sind, sofern nicht anders vereinbart, am Datum der Rechnungslegung ohne jeden Abzug in der vereinbarten Währung fällig.
        p 10.2 Bei Aufträgen, die mehrere Einheiten umfassen, ist WUDA berechtigt Teilrechnungen zu legen, für welche ebenso die für den Gesamtauftrag festgelegten Zahlungsbedingungen gelten.
        p 10.3 Eine Zahlung gilt an dem Tag als geleistet, an dem WUDA über sie verfügen kann.
        p 10.4 Der Vertragspartner ist nicht berechtigt, wegen Gewährleistungsansprüchen oder sonstiger Gegenansprüche Zahlungen zurückzuhalten oder aufzurechnen.
        p 10.5 Bei Vertragspartner außerhalb Österreichs erfolgt die Zahlung grundsätzlich per Vorkasse.
        p 10.6 Ist der Vertragspartner mit einer vereinbarten Zahlung oder sonstigen Leistung aus diesem oder anderen Geschäften in Verzug, so kann WUDA unbeschadet seiner sonstigen Rechte
        p (a) die Erfüllung seiner eigenen Verpflichtung bis zur Bewirkung dieser Zahlung oder sonstigen Leistung aufschieben und eine angemessene Verlängerung der Leistungsfrist in Anspruch nehmen,
        p (b) sämtliche offene Forderungen aus diesem oder anderen Geschäften fällig stellen und für diese Beträge ab der jeweiligen Fälligstellung Verzugszinsen in der Höhe von 5% über dem Basiszinssatz verrechnen, sofern der Auftragnehmer nicht darüberhinausgehende Kosten nachweist.
        p 10.7 In jedem Fall ist WUDA berechtigt vorprozessuale Kosten, insbesondere Mahnspesen und Rechtsanwaltskosten in Rechnung zu stellen.
        p 10.8 Bei Überschreitung des Zahlungstermins werden zusätzlich zu den Verzugszinsen, Gebühren erhoben:
        p Für die Zahlungserinnerung „M1“ eine Mahngebühr von € 15,-.
        p Für die weitere Mahnstufe „M2“ € 25,-.
        p Für die letzte Mahnstufe „M3“ € 45,-.
        p 10.9 Vor Projektbeginn werden Leistungen für bis zu 50% der netto Projektsumme in Form einer Anzahlung verrechnet.
        p 10.10 Als Projektbeginn gilt der Tag, an dem der Auftragnehmer die Verfügbarkeit dieser Zahlung dem Kunden bestätigt. Diese Bestätigung erfolgt ausnahmslos schriftlich.
        p 10.11 Es wird vereinbart, dass alle zwei Wochen eine Teilrechnung gelegt werden kann. Der Umfang dieser Teilrechnung umfasst zumindest all jene Leistungen die in den vorangegangenen zwei Wochen geliefert wurden.
        p 10.12 Zahlungsverzüge erhöhen die geplante Durchlaufzeit des Projektes um mindestens die Dauer des Verzuges.
        
        h2 §11 Beschränkte Gewährleistung
        p 11.1 WUDA ist ohne Rücksicht auf ein Verschulden berechtigt und verpflichtet, bekanntwerdende Unrichtigkeiten und Mängel an seiner Leistung zu beheben. WUDA wird den Vertragspartner hiervon unverzüglich in Kenntnis setzen.
        p 11.2 Dieser Anspruch des Vertragspartners erlischt sechs Monate nach Erbringung der jeweiligen Leistung. Im Falle, dass es sich beim Vertragspartner um einen Verbraucher im Sinne des Konsumentenschutzgesetzes handelt, erlischt oben genannte Frist innerhalb von zwei Jahren.
        p 11.3 Diese beschränkte Gewährleistung gilt ausdrücklich nicht für Software und Services, die kostenlos zur Verfügung gestellt wurden. Dies umfasst Updates, Vorab- oder Testversionen, Websites und Online-Dienste, oder Software bzw. Services, die vom Vertragspartner oder Dritten verändert wurden.
        p 11.4 Um einen Gewährleistungsanspruch für Produkte geltend zu machen, muss der Vertragspartner die Software während des beschränkten Garantiezeitraums unter Vorlage des Kaufbelegs an den Händler, bei dem die Software erworben wurde zurückgeben.
        p 11.5 Um einen Gewährleistungsanspruch für Dienstleistungen oder durch Dienstleistung erbrachte Funktionen im Sinne der agilen Softwareentwicklung geltend zu machen, muss der Vertragspartner Mängel während des beschränkten Garantiezeitraums wie folgt nachweisen:
        p (a) Es gelten die im Angebot vermerkten Rahmenbedingungen zur Testumgebung sowie das Betriebssystem und die Hardware bei Lieferung als Basis.
        p (b) Es wird immer vom technisch effizientesten bzw. einfachsten Weg ausgegangen, um eine Anforderung zu erfüllen. Deshalb gibt es ausdrücklich keine implizit enthaltenen Funktionen oder Akzeptanzkriterien.
        p (c) Mängel können ausdrücklich nur in Bezug auf schriftlich festgehaltene Spezifikationen und deren Akzeptanzkriterien geltend gemacht werden.
        
        h2 §12 Haftung &amp; Schadenersatz
        p 12.1 WUDA haftet dem Vertragspartner für Schäden – ausgenommen Personenschäden – nur im Falle groben Verschuldens (Vorsatz oder grobe Fahrlässigkeit). Dies gilt sinngemäß auch für Schäden, die auf von WUDA beigezogene Dritte zurückgehen.
        p 12.2 Schadenersatzansprüche des Vertragspartners können nur innerhalb von sechs Monaten ab Kenntnis von Schaden und Schädiger, spätestens aber innerhalb von drei Jahren nach dem anspruchsbegründenden Ereignis gerichtlich geltend gemacht werden.
        p 12.3 Der Vertragspartner hat jeweils den Beweis zu erbringen, dass der Schaden auf ein Verschulden von WUDA zurückzuführen ist.
        p 12.4 Sofern WUDA die Leistung unter Zuhilfenahme Dritter erbringt und in diesem Zusammenhang Gewährleistungs- und/oder Haftungsansprüche gegenüber diesen Dritten entstehen, tritt WUDA diese Ansprüche an den Vertragspartner ab. Der Vertragspartner wird sich in diesem Fall vorrangig an diese Dritten halten.
        
        h2 §13 Gewerbliche Schutzrechte &amp; Urheberrecht
        p 13.1 Die Urheberrechte an den von WUDA und seinen Mitarbeitern und beauftragten Dritten geschaffenen Werke (insbesondere Angebote, Kostenvoranschläge, Berichte, Analysen, Gutachten, Organisationspläne, Programme, Leistungsbeschreibungen, Entwürfe, Berechnungen, Zeichnungen, Datenträger, Präsentationen etc.) verbleiben bei WUDA. Sie dürfen vom Vertragspartner während und nach Beendigung des Vertragsverhältnisses ausschließlich für den Vertrag umfasste Zwecke verwendet werden.
        p 13.2 Der Vertragspartner ist insofern nicht berechtigt, das Werk (die Werke) ohne ausdrückliche Zustimmung von WUDA zu vervielfältigen und/oder zu verbreiten. Keinesfalls entsteht durch eine unberechtigte Vervielfältigung/Verbreitung des Werkes eine Haftung für WUDA – insbesondere etwa für die Richtigkeit des Werkes – gegenüber Dritten.
        p 13.3 Sämtliche oben angeführten Unterlagen können jederzeit von WUDA zurückgefordert werden und sind an diesen jedenfalls unverzüglich unaufgefordert zurückzustellen, wenn der Vertrag nicht zustande kommt.
        p 13.4 Der Verstoß des Vertragspartners gegen diese Bestimmungen berechtigt WUDA zur sofortigen vorzeitigen Beendigung des Vertragsverhältnisses und zur Geltendmachung anderer gesetzlicher Ansprüche, insbesondere auf Unterlassung und/oder Schadenersatz.
        
        h2 §14 Geheimhaltung &amp; Datenschutz
        p 14.1 Der Vertragspartner verpflichtet sich zur Geheimhaltung des ihm aus der Geschäftsbeziehung zugegangenen Wissens Dritten gegenüber.
        p 14.2 WUDA verpflichtet sich zu unbedingtem Stillschweigen über alle WUDA zur Kenntnis gelangenden geschäftlichen Angelegenheiten, insbesondere Geschäfts- und Betriebsgeheimnisse, sowie jedwede Information, die er über Art, Betriebsumfang und praktische Tätigkeit des Vertragspartners erhält.
        p 14.3 Weiters verpflichtet sich WUDA über den gesamten Inhalt des Werkes, sowie sämtliche Informationen und Umstände, die ihm im Zusammenhang mit der Erstellung des Werkes zugegangen sind, insbesondere auch über die Daten von Klienten des Vertragspartners, Dritten gegenüber Stillschweigen zu bewahren.
        p 14.4 WUDA ist von der Schweigepflicht gegenüber allfälligen Gehilfen und Stellvertretern, denen er sich bedient, entbunden. Er hat die Schweigepflicht aber auf diese vollständig zu überbinden und haftet für deren Verstoß gegen die Verschwiegenheitsverpflichtung wie für einen eigenen Verstoß.
        p 14.5 Die Schweigepflicht reicht unbegrenzt auch über das Ende dieses Vertragsverhältnisses hinaus.
        p 14.6 WUDA ist berechtigt, WUDA anvertraute personenbezogene Daten im Rahmen der Zweckbestimmung des Vertragsverhältnisses zu verarbeiten. Der Vertragspartner leistet WUDA Gewähr, dass hierfür sämtliche erforderlichen Maßnahme, insbesondere jene im Sinne des Datenschutzgesetzes, wie etwa Zustimmungserklärungen der Betroffenen, getroffen worden sind.
        p 14.7 Der Vertragspartner gestattet es WUDA, das abgeschlossene Projekt als Teil des Portfolios von WUDA abzubilden, darauf zu verlinken oder Ausschnitte daraus zum Zwecke der Eigenwerbung WUDA – auch nach Beendigung der Vertragszeit – unentgeltlich zu nutzen.
        p 14.8 WUDA ist berechtigt, seinen Namenszug, das Logo oder eine sonstige geschäftlich übliche Bezeichnung mit Link zur Website von WUDA auf Inhalten, die für den Vertragspartner erstellt wurden, dezent und nach Abstimmung mit dem Vertragspartner zu platzieren.
        
        h2 §15 Adressänderung
        p 15.1 Der Vertragspartner ist verpflichtet, WUDA Änderungen seiner Kontaktadresse, solange das vertragsgegenständliche Rechtsgeschäft nicht beidseitig vollständig erfüllt ist, unverzüglich bekannt zu geben.
        p 15.2 Wird die Mitteilung unterlassen, so gelten Erklärungen auch dann als zugegangen, falls sie WUDA an die zuletzt bekanntgegebene Adresse gesendet hat.
        
        h2 §16 Elektronische Rechnungslegung
        p 16.1 WUDA ist berechtigt, dem Vertragspartner Rechnungen auch in elektronischer Form zu übermitteln und der Vertragspartner erklärt sich mit dieser Zusendungsart ausdrücklich einverstanden.
        
        h2 §17 Rechtswahl
        p 17.1 Auf diesen Vertrag ist österreichisches materielles Recht anzuwenden. Die Anwendbarkeit des UN-Kaufrechtes wird ausgeschlossen.
        
        h2 §18 Gerichtsstand
        p 18.1 Als Gerichtsstand für alle sich mittelbar oder unmittelbar aus dem Vertrag ergebenen Streitigkeiten wird das für WUDA örtlich (A-5020 Salzburg) und sachlich zuständige österreichische Gericht vereinbart. WUDA ist jedoch auch berechtigt, ein anderes für den Vertragspartner zuständiges Gericht anzurufen.
        p 18.2 Für alle gegen einen Verbraucher, der im Inland seinen Wohnsitz, gewöhnlichen Aufenthalt oder Ort der Beschäftigung hat, wegen Streitigkeiten aus diesem Vertrag erhobenen Klagen ist eines jener Gerichte zuständig, in dessen Sprengel der Verbraucher seinen Wohnsitz hat, gewöhnlichen Aufenthalt oder Ort der Beschäftigung hat. Für Verbraucher, die im Zeitpunkt des Vertragsabschlusses keinen Wohnsitz in Österreich haben, gelten die gesetzlichen Gerichtsstände.
        
        h2 §19 Schlussbestimmungen
        p 19.1 Die Vertragsparteien bestätigen, alle Angaben im Vertrag gewissenhaft und wahrheitsgetreu gemacht zu haben und verpflichten sich, allfällige Änderung wechselseitig umgehend bekannt zu geben.
        p 19.2 Änderungen des Vertrages und dieser allgemeinen Geschäftsbedingungen bedürfen der Schriftform; ebenso ein Abgehen von diesem Formerfordernis. Mündliche Nebenabreden bestehen nicht.
        
    include ../includes/footer