nav
  ul(class='container')
    li
      a(href='/html/') Home
    li
      a(href='/html/projects') Projects
    li
      a(href='/html/about') About us
    li
      a(href='/html/contact') Contact us